@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

/* Tabs animation start*/

@keyframes grow {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.animate-grow {
  animation: grow 6s ease-in-out forwards;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-container img.active {
  opacity: 1;
}

/* Tabs animation start*/

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.animation-container {
  position: relative;
}

.animated-text {
  overflow: hidden;
  border-right: 0.1em solid black;
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.container {
  width: fit-content;
  max-width: 100%;
}

.animate-typing {
  animation: typing 5s steps(30) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.rotating-svg {
  /* position: absolute; */
  /* left: 30px; */
  /* top: -55px; */
  z-index: -10;
  animation: rotate 12s linear infinite;
  /* Adjust the duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* background: linear-gradient(90deg, #CA2421 0%, #CC01FF 100%); */

.flash-banner-gradient {
  background-image: linear-gradient(to right, #7C3AED, #cc01ff);
}

.btn-gradient {
  background-image: linear-gradient(to right, #3a3939, #000000);
}

.leaderboard-label-gradient-1 {
  background-image: linear-gradient(to right, #ffc907, #997804);
}

.leaderboard-label-gradient-3 {
  background-image: linear-gradient(to right, #ca7221, #d9d6d4);
}

.leaderboard-label-gradient-2 {
  background-image: linear-gradient(to right,
      #b5b3ad,
      rgba(130, 130, 130, 0.26));
}

.dark-card {
  background-image: linear-gradient(#080808, #181818);
  box-shadow: 0px 4px 40px 0px #00000040;
}

.dashboard .react-tabs__tab {
  width: 240px;
  padding-bottom: 2px;
  cursor: pointer;
}

.dashboard .react-tabs__tab--selected {
  background-color: #fff9f9;
  color: #7C3AED;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.xplore .react-tabs__tab--selected {
  background-color: #7C3AED;
  color: #ffffff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

/* Calendar */
.custom-calendar {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-body {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calendar-row {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.calendar-row:last-child {
  border-bottom: none;
}

.date-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.date {
  font-size: 1.2em;
  font-weight: bold;
}

.day-name {
  font-size: 0.8em;
  color: #666;
}

.label {
  margin-left: 15px;
  color: #007bff;
  flex-grow: 1;
}

.free-courses-heading {
  background: linear-gradient(to right, #511b1a, #623b3b);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/*Loader  */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7C3AED;
  box-shadow: 0 0 0 0 #7C3AED44;
  animation: l2 1.5s infinite linear;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #7C3AED44;
  animation: inherit;
  animation-delay: -0.5s;
}

.loader:after {
  animation-delay: -1s;
}

@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}

/* scrollbar */

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

/* Scrolling logos(homepage) */
.logo-container {
  width: 100%;
  overflow: hidden;
}

.logo-scroll {
  display: flex;
  white-space: nowrap;
}

.logo {
  flex: 0 0 auto;
  margin-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Free courses */
.video-container {
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .video-container {
    aspect-ratio: 4 / 3;
  }
}

/* Testimonial */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--scroll-width));
  }
}

.animate-scroll {
  animation: scroll var(--scroll-time) linear infinite;
}

/* Vimeo player */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-card {
  @apply p-6 rounded-xl transition-all duration-300 bg-white;
  min-height: 420px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.payment-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

.payment-card:active {
  transform: translateY(0);
}